<nav class="nav flex-column">
  <a class="nav-link"
     routerLink="/prestations"
     routerLinkActive="active">
    Prestations
  </a>
  <a class="nav-link"
     routerLink="/clients"
     routerLinkActive="active">
    Clients
  </a>
</nav>

<!--
<nav>
  <ul class="nav flex-column">
    <li>
      <a routerLink="/prestations" routerLinkActive="active">
        Prestations
      </a>
    </li>
    <li>
      <a routerLink="/clients" routerLinkActive="active">
        Clients
      </a>
    </li>
  </ul>
</nav>
-->
