@import '~src/variables';


.jumbotron {
  margin-top: 10px;
  background: #343a40;

  h1 {
    font-size: 2rem;
    color: $light-color;
  }
}


.bandeau {
  background: $palette-color-one;
  padding: 2rem 0;
  text-align: center;

  h1 {
    font-size: 2rem;
    color: $light-color;
  }
}
