<form novalidate (ngSubmit)="process()" #addForm="ngForm">

  <div class="form-group">
    <label for="type">Type</label>
    <input name="type"
           type="text"
           class="form-control"
           id="type"
           required minlength="5"
           [(ngModel)]="init.type_presta"
           #type="ngModel">
    <div class="alert alert-danger"
         *ngIf="type.invalid && type.touched">
      Champ invalide
    </div>
  </div>

  <div class="form-group">
    <label for="client">Client</label>
    <input name="client"
           type="text"
           class="form-control"
           id="client"
           required
           [(ngModel)]="init.client"
           #client="ngModel">
    <div class="alert alert-danger"
         *ngIf="client.invalid && client.touched">
      Champ invalide
    </div>
  </div>

  <div class="form-group">
    <label for="nbjours">Nb jours</label>
    <input name="jours"
           type="number"
           class="form-control"
           id="nbjours"
           [(ngModel)]="init.nb_jours">
  </div>

  <div class="form-group">
    <label for="tjmht">Tjm HT</label>
    <input name="tjm"
           type="number" class="form-control" id="tjm"
           [(ngModel)]="init.tjm_ht">
  </div>

  <div class="form-group">
    <label for="tva">TVA</label>
    <input name="tva"
           type="number"
           class="form-control"
           id="tva"
           [(ngModel)]="init.taux_tva">
  </div>

  <div class="form-group">
    <label for="state">Action</label>
    <select name="state"
            class="form-control"
            id="state"
            [(ngModel)]="init.state">
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  </div>

  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
