<div class="container-fluid">
  <header class="fixed-top">
    <app-header></app-header>
  </header>

  <main>

    <div class="shadow position-fixed">
    </div>

    <aside>
      <div class="scroller">
        <app-nav></app-nav>
      </div>
    </aside>

    <div class="page">

      <div class="contents">
        <router-outlet></router-outlet>
        <!-- Routed components go here -->
      </div>

      <footer>
        <app-footer></app-footer>
      </footer>
    </div>

  </main>
</div>
