@import '~src/variables';

.state-option {
  background: $palette-color-three;
}
.state-annule,
.state-inactif {
  background: $palette-color-two;
}
.state-confirme,
.state-actif {
  background: $palette-color-four;
}
