<div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <!-- <button class="navbar-toggler" type="button" (click)="toggleNavbar()"> -->

  <div style="padding-right: 20px;cursor: pointer">
    <span (click)="open = !open">
      <fa-icon [icon]="faBars"></fa-icon>
    </span>
  </div>

  <a class="navbar-brand" routerLink="" routerLinkActive="active">
    {{ title }}
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prestations" routerLinkActive="active">
          Prestations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clients" routerLinkActive="active">
          Clients
        </a>
      </li>
    </ul>

    <fa-icon [icon]="faUser"></fa-icon>
  </div>
</div>








<!--
  <div>
      <span>
        <fa-icon [icon]="faBars"></fa-icon>
      </span>
    </div>

    <div class="title flex-grow-1 text-center">
      <h1>{{ title }}</h1>
    </div>

    <div>
      <span>
        <fa-icon [icon]="faUser"></fa-icon>
      </span>
    </div>
  -->















<!--
  <a class="navbar-brand" href="/">{{ title }}</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
-->
