@import "~src/variables";

.header {
  height: $header-height;
  .title {
    padding: 0 $gutter;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  fa-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
