<form novalidate (ngSubmit)="process()" [formGroup]="addForm">

  <div class="form-group">
    <label for="type">Type</label>
    <input type="text"
           class="form-control"
           id="type"
           formControlName="type_presta">
    <div class="alert alert-danger"
         *ngIf="isError('type_presta')">
      Champ invalide
    </div>
  </div>

  <div class="form-group">
    <label for="client">Client</label>
    <input type="text"
           class="form-control"
           id="client"
           formControlName="client">
    <div class="alert alert-danger"
         *ngIf="isError('client')">
      Champ invalide
    </div>
  </div>

  <div class="form-group">
    <label for="nbjours">Nb jours</label>
    <input type="number"
           class="form-control"
           id="nbjours"
           formControlName="nb_jours">
  </div>

  <div class="form-group">
    <label for="tjmht">Tjm HT</label>
    <input type="number"
           class="form-control"
           id="tjmht"
           formControlName="tjm_ht">
  </div>

  <div class="form-group">
    <label for="tva">TVA</label>
    <input type="number"
           class="form-control"
           id="tva"
           formControlName="taux_tva">
  </div>

  <div class="form-group">
    <label for="state">Action</label>
    <select class="form-control"
            id="state"
            formControlName="state">
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  </div>

  <button [disabled]="!addForm.valid"
          type="submit"
          class="btn btn-primary">
    Submit
  </button>
</form>
